body{
    margin: 0;
    padding: 0;
    background-color:rgb(10, 141, 248);}



#navbar{
background-color: rgb(200, 172, 226);

padding: 20px;

display: flex;


}


body{


background-color: azure;

}

.container{
  width: 95%;
  margin: 200px;
 
}
