body{
   
    background-color:rgb(105, 174, 231);}

#navbar{
background-color:rgb(111, 178, 236) ;

padding:  20px;


display: flex;


}




 .container{


width: 95%;

 }

 .meu-botao {
  background-color: rgb(45, 121, 221);   
  color: white;             
  padding: 10px 20px;       
  border: none;             
  border-radius: 15px;     
  cursor: pointer;
}

.container{
  width: 95%;
  margin: 200px;
 
}
