#navbar{
background-color:aliceblue ;

padding:  20px;


display: flex;


}


body{


background-color: rgb(236, 222, 222);

}
 .container{


width: 95%;

 }

 .meu-botao {
  background-color: blue;   
  color: white;             
  padding: 10px 20px;       
  border: none;             
  border-radius: 15px;     
  cursor: pointer;
}